//- console.log(todayEvents)
doctype html(lang="en")
link(href="layoutclndr.css", rel="stylesheet")

head
      title Tufts 'Bolletin
      <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400" rel="stylesheet">
body
#topbar
      h1 Tufts 'Bolletin
.title
      h2 Today #{todDate} : On this day in #{todayFactYear}, #{todayFacts}
- for (var i = 0; i < todayEvents.length; i++)
        //- console.log(todayEvents[0].name)
        .event
              #timeContainer
                    h2= todayEvents[i].time + " - " + todayEvents[i].end
              #eventInfoContainer
                    #name
                          h1= todayEvents[i].event.name
                    #description
                          p= todayEvents[i].event.description
                    #rsvp
                          a(href= "https://facebook.com/events/"+todayEvents[i].event.id) view facebook event

.title
        h2 Tomorrow #{tomDate} : On this day in #{tomorrowFactYear}, #{tomorrowFacts}
- for (var i = 0; i < tomorrowEvents.length; i++)
        .event
              #timeContainer
                    h2= tomorrowEvents[i].time + " - " + tomorrowEvents[i].end
              #eventInfoContainer
                    #name
                          h1= tomorrowEvents[i].event.name
                    #description
                          p= tomorrowEvents[i].event.description
                    #rsvp
                          a(href= "https://facebook.com/events/"+tomorrowEvents[i].event.id) view facebook event
